.widget-easy-pie-chart-default {
    text-align: center;
    position: relative;
}

.widget-easy-pie-chart-default .easypiechart .pie-percent {
    width: 100%;
    font-size: 18px;
    display: block;
    margin-top: 55px;
    margin-bottom: -67px;
}

.widget-easy-pie-chart-default .easypiechart .pie-percent:after {
    content: '%';
    font-size: 12px;
}


